.Calculator-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
  margin-top: 2rem;
}

.Calculator-key {
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  opacity: .75;
}

.Calculator-key:hover {
  opacity: 1;
  font-size: 1.2rem;
}

.number {
  background-color: gainsboro;
  color: black;
  border: 1px solid #cecece;
}

.operation {
  background-color: slategrey;
  color: white;
  border: 1px solid #4A4B4B;
}

.reset {
  background-color: brown;
  color: black;
  border: 1px solid #7e0505;
}

.dual-operation {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.dual-operation > .left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dual-operation > .right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.medium {
  width: 80px;
  height: 80px;
}

.small {
  height: 80px;
  width: 40px;
}